{% extends 'web/base_auth.html.twig' %}

{% block title %}{{ story.info.title }} - Chapter {{ chapters[0].sequenceNum + 1}} - uffn{% endblock %}

{% block breadcrumbs %}
  &rarr; <a href="{{ path('version', { id: story.info.version_id }) }}">{{ story.info.title }}</a>
{% endblock %}

{% block jumboTitle %}
  {{ story.info.title }}
{% endblock %}
{% block jumboLead %}
  {{ story.info.authors|join(', ') }}
{% endblock %}
{% block jumboMeta %}
  <div class="pt-1 pt-sm-3 pb-4 pb-sm-5">
    <span id="story-rating"
          class="badge bg-dark uf-story-rating {{ story.meta.rating_class }}">
      {{ story.meta.rating ?? "?" }}
    </span>
    <span class="ms-4 uf-story-meta">
    Chapters: <span>{{ story.meta.chapter_count }}</span>
    {% if story.meta.is_complete %}Completed{% endif %}
  </span>
  </div>
{% endblock %}
{% block jumboDetails %}
  <div class="row">
    <div class="col col-12 col-lg-10">
      {% if story.custom_summary %}
        {{ story.custom_summary|raw }}
      {% else %}
        {{ story.original_summary|raw }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block jumboExtra %}
  <div class="mt-4 mb-1">
    <div class="accordion" id="extraAccordion">
      {% if story.custom_summary %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="extraAccordion-heading1">
            <button type="button" class="accordion-button collapsed"
                    data-bs-toggle="collapse" data-bs-target="#extraAccordion-collapse1"
                    aria-expanded="false" aria-controls="extraAccordion-collapse1">
              Original summary
            </button>
          </h2>
          <div class="accordion-collapse collapse collapsed" id="extraAccordion-collapse1"
               data-bs-parent="#extraAccordion" aria-labelledby="extraAccordion-heading1">
            <div class="accordion-body">
              <div class="col col-12 col-lg-10 fst-italic">
                {{ story.original_summary|raw }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="accordion-item">
        <h2 class="accordion-header" id="extraAccordion-heading2">
          <button type="button" class="accordion-button collapsed"
                  data-bs-toggle="collapse" data-bs-target="#extraAccordion-collapse2"
                  aria-expanded="false" aria-controls="extraAccordion-collapse2">
            Metadata
          </button>
        </h2>
        <div class="accordion-collapse collapse collapsed" id="extraAccordion-collapse2"
             data-bs-parent="#extraAccordion" aria-labelledby="extraAccordion-heading2">
          <div class="accordion-body">
            <div class="col">
              <div class="row">
                <dt class="col-sm-3 col-lg-2">Retrieved:</dt>
                <dd class="col-sm-9 col-lg-10">
                  {{ story.extra.retrieved_on }}
                </dd>

                <dt class="col-sm-3 col-lg-2">Source:</dt>
                <dd class="col-sm-9 col-lg-10" style="text-overflow: ellipsis; overflow: hidden;">
                  <a href="{{ story.extra.link }}" class="text-decoration-none" target="_blank">{{ story.extra.link }}</a>
                </dd>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block userActions %}
  <div class="row">
    <div class="mt-3 mt-md-0 text-md-end d-flex justify-content-end align-items-start">

      {% block storyChapterNav %}

        {% if user_actions.nav.prev_index %}
          {% set prev_path = path('version_chapter', { id: story.info.version_id, chapterNum: user_actions.nav.prev_index }) %}
          <a href="{{ prev_path }}" type="button" class="btn btn-secondary btn-sm me-1">&laquo; Prev</a>
        {% else %}
          <a href="#" type="button" class="btn btn-secondary btn-sm me-1 disabled">&laquo; Prev</a>
        {% endif %}

        {% if user_actions.nav.next_index %}
          {% set next_path = path('version_chapter', { id: story.info.version_id, chapterNum: user_actions.nav.next_index }) %}
          <a href="{{ next_path }}" type="button" class="btn btn-secondary btn-sm me-1">Next &raquo;</a>
        {% else %}
          <a href="#" type="button" class="btn btn-secondary btn-sm me-1 disabled">Next &raquo;</a>
        {% endif %}

        <div class="btn-group">
          <a href="#" type="button" role="button" class="btn btn-secondary btn-sm dropdown-toggle"
             data-bs-toggle="dropdown" aria-expanded="false">Chapters</a>
          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-md-end text-md-end">
            <li><a class="dropdown-item small" href="{{ path('version_toc', { id: story.info.version_id}) }}">Chapter index</a></li>
            <li><a class="dropdown-item small" href="{{ path('version_fulltext', { id: story.info.version_id }) }}">Full text</a></li>
          </ul>
        </div>
      {% endblock %}

      <div class="btn-group ms-1">
        <button type="button" class="btn btn-warning btn-sm">Add to list</button>
        <button type="button" class="btn btn-warning btn-sm dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-start dropdown-menu-md-end text-md-end">
          <li><a class="dropdown-item small" href="#">Edit story</a></li>
          <li><a class="dropdown-item small" href="#">Edit version</a></li>
          <li><hr class="dropdown-divider small"></li>
          <li><a class="dropdown-item small" href="#">Other versions</a></li>
        </ul>
      </div>

    </div>
  </div>
{% endblock %}

{% block mainContent %}

  <!-- Chapter blocks -->
  <div class="mt-5 uf-container-chapter" style="margin-left: auto; margin-right: auto;">
    {% for chapter in chapters %}
      <section id="chapter-{{ loop.index }}">
        <!-- Chapter title -->
        <h3 class="text-center mb-5">
          <a class="uf-chapter-anchor" href="#">&sect;</a>
          Chapter {{ chapter.sequenceNum + 1 }}
          {% if chapter.title %} &ndash; {{ chapter.title }} {% endif %}
        </h3>

        <!-- Chapter summary and pre-notes -->
        {% if chapter.summary %}
          <div class="uf-chapter-note summary">
            <h5 class="text-center">Summary</h5>
            {{ chapter.summary|raw }}
          </div>
        {% endif %}
        {% if chapter.notesPre %}
          <div class="uf-chapter-note an">
            <h5 class="text-center">Author's note</h5>
            {{ chapter.notesPre|raw }}
          </div>
        {% endif %}

        <!-- Contents -->
        <div class="uf-chapter-contents">
          {{ chapter.contents|raw }}
        </div>

        <!-- Chapter post-notes -->
        {% if chapter.notesPost %}
          <div class="uf-chapter-note an mt-5">
            <h5 class="text-center">Author's note (post)</h5>
            {{ chapter.notesPost|raw }}
          </div>
        {% endif %}
      </section>
    {% endfor %}
  </div>

  <!-- Bottom navigation -->
  {% block storyBottomNav %}
    <div class="mt-5 uf-container-chapter" style="margin-left: auto; margin-right: auto;">
      <div class="d-flex justify-content-between">

        {% if bottom_nav.prev_index %}
          <a class="me-1 btn btn-sm"
             style="border: 1px solid #ced4da;"
             href="{{ path('version_chapter', {
               id: story.info.version_id,
               chapterNum: bottom_nav.prev_index
             }) }}">&laquo; Prev. chapter</a>
        {% else %}
          <a class="me-1 btn btn-sm disabled"
             style="border: 1px solid #ced4da;"
             href="#">&laquo; Prev. chapter</a>
        {% endif %}


        {% if bottom_nav.next_index %}
          <a class="btn btn-sm btn-primary"
             href="{{ path('version_chapter', {
               id: story.info.version_id,
               chapterNum: bottom_nav.next_index
             }) }}">Next chapter &raquo;</a>
        {% else %}
          <a class="btn btn-sm btn-primary disabled"
             href="#">Next chapter &raquo;</a>
        {% endif %}

      </div>
    </div>
  {% endblock %}

{% endblock %}
