{% extends 'web/base.html.twig' %}


{% set breadcrumbs %}
  {% set story_link = path('story', { id: story.id }) %}
  {% set edit_link = path('story_edit', { id: story.id }) %}
  &rarr; <a href="{{ story_link }}">{{ story.origin.archive }}://{{ story.origin.identifier }}</a>
  &rarr; <a href="{{ edit_link }}">Edit</a>
{% endset %}


{% set story_actions %}
  {% set edit_link = path('story_edit', { id: story.id }) %}
  {% set versions_link = path('story_versions', { id: story.id }) %}
  <a role="button" class="btn btn-light btn-sm me-1" target="_blank" href="{{ story._instance|story_link }}">Open source</a>
  <a role="button" class="btn btn-warning btn-sm" href="{{ versions_link }}">Version list</a>
{% endset %}


{% set main_contents %}
  <div class="row">
    <h3 class="py-3 pt-sm-4 pb-sm-5">
      Editing story
      <strong class="ms-0 ms-sm-2 pt-1 pt-sm-0 d-inline-block">
        {{ story.origin.archive }}://{{ story.origin.identifier }}
      </strong>
    </h3>
  </div>
  <div class="row">
    <div class="col col-12 col-lg-8 col-xl-7">
      {% form_theme form 'web/_form/version_theme.html.twig' %}
      {{ form_start(form) }}

        {% if story_updated %}
          <div class="mb-5">
            <div class="alert alert-success">
              <h5 class="alert-heading">Story updated</h5>
              <p class="small mb-0">New story overrides were persisted.</p>
            </div>
          </div>
        {% endif %}

        {% if form_errors(form) %}
          <div class="mb-5">
            <div class="alert alert-danger">
              <h5 class="alert-heading">Errors</h5>
              <p class="small mb-0">{{ form_errors(form) }}</p>
            </div>
          </div>
        {% endif %}

        <div class="mb-4">
          {{ form_widget(form.summary, { 'attr': { 'rows': '5' }, 'label': 'Summary override' }) }}
          {{ form_help(form.summary, { 'help': 'Leave empty or spaces/tabs-only to remove the override.' }) }}
        </div>

        <div class="mb-5">
          {{ form_widget(form.rating, { 'label': 'Rating override' }) }}
          {{ form_help(form.rating, { 'help': 'This hides the original rating on all of the pages except for version listing.' }) }}
        </div>

        <div class="mb-5">
          {{ form_widget(form.isPublic, { 'label': 'Story is public' }) }}
          {{ form_help(form.isPublic, { 'help': 'Others see public stories and can add them to lists but can\'t modify them.' }) }}
        </div>

        <div class="mt-5">
          {{ form_widget(form.save, { 'label': 'Save changes' }) }}
        </div>

      {{ form_end(form) }}
    </div>
  </div>
{% endset %}



{% block title %}
  {{ story.origin.archive }}://{{ story.origin.identifier }} - edit - {{ parent() }}
{% endblock %}

{% block body %}

  {# Topbar - breadcrumbs and user profile link #}
  {% include 'web/common/_global_topbar.html.twig' with {
    'breadcrumbs': breadcrumbs
  } %}

  {# User actions - a bunch of buttons #}
  {% embed 'web/story/_user_actions.html.twig' %}
    {% block storyLinks %}
      {{ story_actions }}
    {% endblock %}
  {% endembed %}

  {# Main content #}
  <main class="uf-main">
    <div class="container-md">
      {{ main_contents }}
    </div>
  </main>

  {# Global footer - some links and a disclaimer #}
  {% include 'web/common/_global_footer.html.twig' %}

{% endblock %}
