{% extends 'web/base.html.twig' %}


{% set breadcrumbs %}
  {% set story_link = path('story', { id: story.id }) %}
  {% set versions_link = path('story_versions', { id: story.id }) %}
  &rarr; <a href="{{ story_link }}">{{ story.origin.archive }}://{{ story.origin.identifier }}</a>
  &rarr; <a href="{{ versions_link }}">Version list</a>
{% endset %}


{% set story_actions %}
  {% set edit_link = path('story_edit', { id: story.id }) %}
  <a role="button" class="btn btn-light btn-sm me-1" target="_blank" href="{{ story._instance|story_link }}">Open source</a>
  <a role="button" class="btn btn-warning btn-sm" href="{{ edit_link }}">Edit story</a>
{% endset %}


{% set main_contents %}
  <div>

    <h3 class="py-3 pt-sm-4 pb-sm-5">Archived versions</h3>

    {% for version in versions %}

      {% set chapter_count = version.chapters|length == 1
          ? 'a single chapter'
          : (version.chapters|length ~ ' chapter(s)')
      %}

      {% set updated %}
        {{ (version.isCompleted ? 'completed' : 'updated') }}
        {{ version.updatedAt|date('d/m/Y') }}
      {% endset %}

      {% set archived %}
        <span class="d-inline-block d-sm-none">
          archived {{ version.archivedAt|date('d/m/Y') }}
        </span>
      {% endset %}

      {% set chapter_desc %}
        <div class="d-block d-sm-none">
          {{ version.summary|raw|u.truncate(120, ' ...', false)|raw }}
        </div>
        <div class="d-none d-sm-block">
          {{ version.summary|raw|u.truncate(240, ' ...', false)|raw }}
        </div>
      {% endset %}

      {% include 'web/common/_shared_list_entry.html.twig' with {
        link: path('version', { id: version.id }),
        title: version.title,
        rating: version.rating,
        secondary: '@ ' ~ version.archivedAt|date('d/m/Y H:i:s'),
        desc: chapter_desc|raw,
        meta: [
          chapter_count,
          updated,
          archived,
        ]
      } %}

    {% endfor %}

  </div>
{% endset %}



{% block title %}
  {{ story.origin.archive }}://{{ story.origin.identifier }} - version list - {{ parent() }}
{% endblock %}

{% block body %}

  {# Topbar - breadcrumbs and user profile link #}
  {% include 'web/common/_global_topbar.html.twig' with {
    'breadcrumbs': breadcrumbs
  } %}

  {# Jumbo - page header and metadata #}
  {% include 'web/story/_jumbo.html.twig' %}

  {# User actions - a bunch of buttons #}
  {% embed 'web/story/_user_actions.html.twig' %}
    {% block storyLinks %}
      {{ story_actions }}
    {% endblock %}
  {% endembed %}

  {# Main content #}
  <main class="uf-main">
    <div class="container-md">
      <div class="row">
        {{ main_contents }}
      </div>
    </div>
  </main>

  {# Global footer - some links and a disclaimer #}
  {% include 'web/common/_global_footer.html.twig' %}

{% endblock %}
