{% extends 'web/base.html.twig' %}


{% set breadcrumbs %}
  {% set story_link = path('story', { id: story.id }) %}
  {% set versions_link = path('story_versions', { id: story.id }) %}
  &rarr; <a href="{{ story_link }}">{{ story.origin.archive }}://{{ story.origin.identifier }}</a>
  &rarr; <a href="{{ versions_link }}">Version list</a>
{% endset %}


{% set story_actions %}
  {% set edit_link = path('story_edit', { id: story.id }) %}
  <a role="button" class="btn btn-light btn-sm me-1" target="_blank" href="{{ story._instance|story_link }}">Open source</a>
  <a role="button" class="btn btn-warning btn-sm" href="{{ edit_link }}">Edit story</a>
{% endset %}


{% set main_contents %}
  <div>
    <h3 class="py-3 pt-sm-4 pb-sm-5">Archived versions <span class="badge rounded-pill bg-secondary ms-2 ms-sm-4">{{ versions|length }}</span></h3>
    {% for version in versions %}

      {% set version_link = path('version', { 'id': version.id }) %}

      <section class="uf-list-entry">
        <header>
          <span class="rating {{ version.rating|rating_class }}">{{ version.rating|rating_name }}</span>
          <a href="{{ version_link }}" class="mx-2">{{ version.title }}</a>
          <span class="secondary">at {{ version.archivedAt|date('d/m/Y H:i:s') }}</span>
        </header>
        <div class="meta py-1">
          {% set ch_count = version.chapters|length %}
          {% set ch_count_text = ch_count == 1 ? 'a single chapter' : (ch_count ~ ' chapter(s)') %}
          {% set ch_updated_text = version.isCompleted ? 'completed' : 'updated' %}

          <span>{{ ch_count_text }}</span>
          <span>{{ ch_updated_text }} {{ version.updatedAt|date('d/m/Y') }}</span>

          <span class="d-inline-block d-sm-none">archived {{ version.archivedAt|date('d/m/y H:i') }}</span>
        </div>
        {# TODO: truncate html properly, this leaves open tags #}
        <div class="text d-block d-sm-none">
          {{ version.summary|raw|u.truncate(120, ' ...', false)|raw }}
        </div>
        <div class="text d-none d-sm-block">
          {{ version.summary|raw|u.truncate(240, ' ...', false)|raw }}
        </div>
      </section>

    {% endfor %}
  </div>
{% endset %}



{% block title %}
  {{ story.origin.archive }}://{{ story.origin.identifier }} - version list - {{ parent() }}
{% endblock %}

{% block body %}

  {# Topbar - breadcrumbs and user profile link #}
  {% include 'web/common/_global_topbar.html.twig' with {
    'breadcrumbs': breadcrumbs
  } %}

  {# Jumbo - page header and metadata #}
  {% include 'web/story/_jumbo.html.twig' %}

  {# User actions - a bunch of buttons #}
  {% embed 'web/story/_user_actions.html.twig' %}
    {% block storyLinks %}
      {{ story_actions }}
    {% endblock %}
  {% endembed %}

  {# Main content #}
  <main class="uf-main">
    <div class="container-md">
      <div class="row">
        {{ main_contents }}
      </div>
    </div>
  </main>

  {# Global footer - some links and a disclaimer #}
  {% include 'web/common/_global_footer.html.twig' %}

{% endblock %}
