<section class="uf-list-entry"
  {% if additional_style is defined %}style="{{ additional_style }}"{% endif %}>

  <header>

    {% if rating is defined and rating %}
      <span class="me-2 rating {{ rating|rating_class }}">{{ rating|rating_name }}</span>
    {% endif %}

    {% if link is defined and link %}
      <a href="{{ link }}" class="me-2">{{ title }}</a>
    {% else %}
      <span class="me-2 title">{{ title }}</span>
    {% endif %}

    {% if secondary is defined and secondary %}
      {% set extra_style %}
        {% if secondary_always %}
          style="display: inline-block !important;"
        {% endif %}
      {% endset %}
      <span class="secondary" {{ extra_style }}>{{ secondary|raw }}</span>
    {% endif %}

  </header>

  {% if meta is defined and meta is iterable %}
    <div class="meta pt-1">

      {% for item in meta %}
        {% if item is iterable %}
          <span>{{ item.key }} {{ item.value }}</span>
        {% else %}
          <span>{{ item }}</span>
        {% endif %}
      {% endfor %}

    </div>
  {% endif %}

  {% if desc is defined and desc %}
    <div class="text">
      {{ desc|raw }}
    </div>
  {% endif %}

</section>