{% use 'form_div_layout.html.twig' %}

{% block form_label %}
  {% if label_attr is defined and label_attr %}
    {% if label_attr.class is not defined or not label_attr.class %}
      {% set label_attr = label_attr|merge({ class: 'form-label' }) %}
    {% endif %}
  {% endif %}
  {{ parent() }}
{% endblock %}

{% block textarea_widget %}
  {% set my_class = 'form-control' %}
  {% set attr = attr|merge({class: my_class}) %}
  {{ form_label(form, label) }}
  {{ parent() }}
{% endblock %}

{% block rating_widget %}
  {{ form_label(form, label) }}
{#  <pre><code>{{ dump(choices) }}</code></pre>#}
  {% for choice in choices %}
    <div class="form-check pb-1">
      {% set choice_id = form.vars.id ~ '_' ~ choice.value %}
      <input class="form-check-input" type="radio" {% if value == choice.value %}checked="checked"{% endif %}
             id="{{ choice_id }}" name="{{ full_name }}" value="{{ choice.value }}">
      <label class="form-check-label" for="{{ choice_id }}">
        <span class="mx-1">{{ choice.label }}</span>
        {% if choice.data is not null %}
          <span class="badge uf-story-rating {{ choice.data|rating_class }}">{{ choice.value }}</span>
        {% endif %}
      </label>
    </div>
  {% endfor %}
{% endblock %}

{% block checkbox_widget %}
  {% set my_class = 'form-check-input d-inline-block' %}
  {% set my_style = '' %}
  {% set attr = attr|merge({class: my_class}) %}
  {% set attr = attr|merge({style: my_style}) %}
  <div class="form-check">
    {{ parent() }}
    {{ form_label(form, label, { label_attr: { 'class': 'form-check-label ms-1' } }) }}
  </div>
{% endblock %}

{% block submit_widget %}
  {% set my_class = 'btn btn-primary' %}
  {% set attr = attr|merge({class: my_class}) %}
  {{ parent() }}
{% endblock %}

{% block form_help %}
  <div class="form-text">
    <p>{{ help|raw }}</p>
    {% if errors|length > 0 %}
      {% for error in errors %}
        <p>Error: {{ error.message }}</p>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
