{% set accordionName = 'jumbo-acc' %}

{% set metadataContents %}
  {% set dtCol = 'col-sm-3 col-lg-2' %}
  {% set ddCol = 'col-sm-9 col-lg-10 text-muted' %}

  <div class="col">
    <div class="row">

      <dt class="{{ dtCol }}">Uploader:</dt>
      <dd class="{{ ddCol }}">
        {{ story.extra.owner.login }}
      </dd>

      <dt class="{{ dtCol }}">Retrieved:</dt>
      <dd class="{{ ddCol }}">
        {{ story.extra.retrieved_on }}
      </dd>

      <dt class="{{ dtCol }}">Source:</dt>
      <dd class="{{ ddCol }}" style="text-overflow: ellipsis; overflow: hidden;">
        <a href="{{ story.extra.link }}" class="text-decoration-none" target="_blank">
          {{ story.extra.link }}
        </a>
      </dd>

    </div>
  </div>
{% endset %}

<div class="accordion mt-4 mb-1" id="{{ accordionName }}">
  {% if story.custom_summary is not null %}
    {% include 'web/version/_jumbo_accordion_item.html.twig' with {
          'itemName': 'summary',
          'header': 'Original summary',
          'contents': story.original_summary|raw
    } %}
  {% endif %}

  {% include 'web/version/_jumbo_accordion_item.html.twig' with {
        'itemName': 'metadata',
        'header': 'Metadata',
        'contents': metadataContents
  } %}
</div>
