{% form_theme pwd_form 'web/_form/profile_theme.html.twig' %}
{{ form_start(pwd_form) }}

  {% if form_errors(pwd_form)|trim %}
    <div class="row">
      <div class="col-sm-8 col-lg-5 offset-sm-4 offset-lg-3">
        <div class="alert alert-danger">
          <p><strong>Error:</strong></p>
          {{ form_errors(pwd_form) }}
        </div>
      </div>
    </div>
  {% endif %}

  {{ form_row(pwd_form.email, {
    label: 'Email'
  }) }}
  {{ form_row(pwd_form.login, {
    label: 'Login',
    help: 'Email and login cannot be changed using the web interface.',
    last_in_group: true
  }) }}

  {{ form_row(pwd_form.old_password, {
    label: 'Current password',
    attr: { placeholder: 'Enter your active password' }
  }) }}
  {{ form_row(pwd_form.new_password.first, {
    label: 'New password',
    attr: { placeholder: 'Enter the password you\'d like to have' }
  }) }}
  {{ form_row(pwd_form.new_password.second, {
    label: 'New password (repeat)',
    attr: { placeholder: 'Repeat the password you\'d like to have' },
    help: 'New password should be 6-60 characters long.',
    last_in_group: true
  }) }}

  {{ form_row(pwd_form.update, {
    label: 'Change password'
  }) }}

{{ form_end(pwd_form) }}
