{% extends 'web/profile/base_profile.html.twig' %}
{% set active_nav_key = 'settings' %}


{% block breadcrumbs %}
  {{ parent() }}
  &rarr; <a href="{{ path('profile_settings') }}">Settings</a>
{% endblock %}

{% block main_contents %}

  <section class="row d-sm-none mb-4">
    <h3 class="my-3 mt-sm-4 mb-sm-5">User actions</h3>
    <div class="col">
      <a href="{{ path('auth_logout') }}" class="btn btn-danger w-100">Sign out</a>
    </div>
  </section>

  <section class="row mb-5">
    <h3 class="my-3 mt-sm-4 mb-sm-5">Authentication info</h3>
    <div class="col">
      {% include 'web/profile/_settings_section_password.html.twig' %}
    </div>
  </section>

  <section class="row mb-5">
    <h3 class="my-3 mt-sm-4">Uploader sessions</h3>
    <div class="text-muted small mb-sm-4">
      <p class="mb-0">Sessions used for uploading stories are separate from user sessions.</p>
      <p>Normally they are cleaned up automatically, but you can use this page to force a manual refresh.</p>
    </div>
    <div class="col">
      {% include 'web/profile/_settings_section_sessions.html.twig' %}
    </div>
  </section>

{% endblock %}

{% block title %}
  {{ app.user.login }} - settings - {{ parent() }}
{% endblock %}
